@import "tailwindcss";

@theme {
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;
}

/* @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #e2e8f0;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #cbd5e1;
    }
} */

@media print {
    @page { margin: 0.5cm; }
    body { 
        margin: 0; 
        padding: 0;
        background: white;
    }
}